.food-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding: 1rem 0rem;
}

.food-details > * {
  margin: 0.2rem 0rem;
}
.food-details :nth-child(3) {
  color: brown;
  font-weight: bold;
}

.required-amount {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quantity {
  display: flex;
}
.quantity label {
  margin-right: 1rem;
  font-weight: bold;
}
.quantity input {
  width: 2.5rem;
}

.increase-quantity {
  text-align: end;
}
.increase-quantity button {
  background-color: brown;
  color: white;
  border-radius: 25px;
  padding: 0.3rem 1rem;
  border: none;
  cursor: pointer;
}
